* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* CSS Variables */
body {
  --background-primary: #1c1624;
  --font-color-primary: #333;
  --elevation-background: #f3f3f3;
  --link-color: #006eb8;
  --font-family-primary: "Roboto", cursive;
  --handwriting-font: "Homemade Apple", cursive;
  --primary-color: #1a73e8;
  --ink-color: #000f55;
  --label-color: #333;
  --field-borders: #e0e0e0;
  --primary-button-bg: #1d1d1d;
  --primary-button-color: #eee;
  --font-color-delete: #dc3545;
  --delete-button-borders: #dc3545;
  --button-color: #fae428;
  --navbar-color: #3f79fb;
}

body {
  color: var(--font-color-primary);
  font-size: 1.05rem;
  font-family: var(--font-family-primary);
  /* background: -webkit-linear-gradient(
    45deg,
    #1c1624 25%,
    #21192b 25%,
    #21192b 50%,
    #1c1624 50%,
    #1c1624 75%3aa19b
  );
  background: -moz-linear-gradient(
    45deg,
    #1c1624 25%,
    #21192b 25%,
    #21192b 50%,
    #1c1624 50%,
    #1c1624 75%
  );
  background: -o-linear-gradient(
    45deg,
    #1c1624 25%,
    #21192b 25%,
    #21192b 50%,
    #1c1624 50%,
    #1c1624 75%
  );
  background: linear-gradient(
    45deg,
    #ddd8e2 25%,
    #e3dfe7 25%,
    #e3dfe7 50%,
    #ddd8e2 50%,
    #ddd8e2 75%,
    #e3dfe7 75%,
    #e3dfe7
  ); */
  background-size: 100px 100px;
}

/* Navbar & Banner */
.Navbar {
  background-color: var(--navbar-color);
  height: 80px;
  width: 100%;
  min-width: 100%;
}

.banner {
  height: calc(100vh - 100px);
  background-image: url("../assets/bg.jpg");
}

.banner h1 {
  font-family: "Arvo", serif;
}

.startNow button {
  border-style: solid;
  border-width: 2px;
  border-color: #006eb8 !important;
  background-color: #006eb8;
  color: white;
  cursor: pointer;
  outline: none;
}
/* End of navbar & banner */

.middle{
  height: calc(100vh - 80px);
}

/* Page canvas styling */
.pageContainer {
  /* padding: 100px 100px; */
}
.pinkMarginedLines {
  width: 400px;
  height: calc(11.7 * 400px / 8.3); /* A4 Ratio */
  background: #fff;
  border: 1px solid var(--elevation-background);
  font-size: 10pt;
  position: relative;
  top: 0px;
  font-family: var(--handwriting-font);
  color: var(--ink-color);
  line-height: 1.5em;
  overflow-y: hidden;
  scrollbar-color: transparent;
  scrollbar-width: thin;
}

.midPage {
  min-height: calc(100% - 50px);
}

.contentPage {
  margin: 10px;
  width: 100%;
  min-height: 560px !important; /* height issue */
  background-image: linear-gradient(#999 0.05em, transparent 0.1em);
  background-color: unset !important;
  background-size: 100% 1.5em;
  padding: 5px;
  margin: 0px;
  padding-left: 55px;
}

.topMargin {
  height: 50px;
  border-bottom: 2px solid pink;
  width: 100%;
  display: block;
  overflow-y: hidden;
}

.leftMargin {
  width: 50px;
  height: calc(100%);
  display: inline-block;
  border-right: 2px solid pink;
  top: 0px;
  padding-top: 50px;
  overflow-x: hidden;
  position: absolute;
  left: 0;
}

.leftMargin .topMargin {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}
/* page design end */

/* Customisation start */
.customization {
  padding-top: 40px;
}
.customization h4 {
  padding-left: 5px;
  font-weight: 500;
}
.customization input,
select {
  border-style: solid;
  border-width: 2px;
  border-color: #006eb8 !important;
  cursor: pointer;
  outline: none;
  width: 160px;
}

/* Toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.upload input[type='file']{
  color: transparent;
  width: 100px;
}

.generateButton{
  background-color: var(--link-color) !important;
}

.generateButton:focus{
  outline: none;
}
/* Customisation end */


/* output */
.output{
  height: 500px;
}

.array{
  height: 500px;
}

.output img {
  transform: scale(0.4);
  margin-top: -38% !important;
  margin-left: -28% !important;
}


/* output end */


